@mixin ab-center {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}

@mixin fz($size) {
	font-size: $size + px;
}


@mixin media-breakpoint-up($size) {
    @if $size=='xs' {
        @media (min-width: 576px) {
            @content;
        }
    }
}

@mixin media-breakpoint-down($size) {
    @if $size=='xs' {
        @media (max-width: 576px) {
            @content;
        }
    }
}

@mixin ball($size) {
    width: $size;
    height: $size;
    text-align: center;
    line-height: $size;
    font-size: 1.1rem;
    background-color: #d5d5d5;
    border-radius: 50%;
    color: #000;
    box-shadow: inset 1px -6px 10px #fff;
    display: inline-block;
}
$blue9:#33A1FF;
$red9:#EF6B73;
$gray9:lighten(#000000, 75%);
$dark-gray9:lighten(#000000, 25%);
.col-44 {
	width: calc(100% / 3);
	flex: 0 0 (100% / 3);
}
.text-black {
	color: #000;
}

.text-gray {
	color: lighten(#000, 85%);
}
.text-gold {
	color: #F8E239;
}
.text-tomato {
	color: #EF6B73;
}
.text-blue{
    color:$blue9;
}
.text-red{
    color:$red9;
}
.btn{
    cursor: pointer;
    &:focus{
        box-shadow: 0px 0px 0px transparent !important;
    }
}
.btn-blue{
    background-color: $blue9;
}
.w-60{
    width: 60%;
}
.w-80{
    width: 80%;
}
.w-90{
    width: 90%;
}
.relative{
    position: relative;
}
.fz-1{
    font-size: 1rem * 0.25 !important;
}
.fz-2{
    font-size: 1rem * 0.5 !important;
}
.fz-3{
    font-size: 1rem !important;
}
.fz-425{
    font-size: 1rem * 1.25 !important;
}
.fz-4{
    font-size: 1rem * 1.5 !important;
}
.fz-5{
    font-size: 1rem * 3 !important;
}
.fa{
    vertical-align: middle;
}
@keyframes superScaleIn {
    from {
        transform: translate(-50%, -50%) scale(1.2);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

@keyframes superScaleOut {
    from {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    to {
        transform: translate(-50%, -50%) scale(0.8);
        opacity: 0;
    }
}