@import '_mixin';
.modify-password-title{
    color:$red9;
    border-bottom:2px solid $red9;
    font-weight: 700;
}
.modify-password-wrap{
    input{
        font-size: 1.1rem;
        padding: .8rem;
    }
    .btn-submit{
        background-color: $blue9;
        color:#fff;
        font-size: 1.2rem;
    }
}