@import '_reset';
@import '_mixin';
@import '_center';
@import '_payment';
@import '_user-info';
@import '_modify-password';
@import '_bets-history';
@import '_notice';
@import '_bank';
/*=====================================*/

$gray:#F5F7F8;


* {
	padding: 0;
	margin: 0;
}
html{
	@include media-breakpoint-up(xs){
		font-size: 16px;
	}
	@include media-breakpoint-down(xs){
		font-size: 14px;
	}
}
html,
body {
	font-family: "微软雅黑", "Microsoft YaHei", Tahoma, HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bg-user {
	background-color: #757576;
	color: #fff;
	a {
		color: #fff;
	}
}

.navbar-brand {
	@include media-breakpoint-up(xs) {
		img {
			height: 3rem;
		}
	}
	@include media-breakpoint-down(xs) {
		img {
			height: 2rem;
		}
	}
}

.navbar-box {
	&.navbar-collapse {
		flex-basis: 0;
	}
}

.notice {
	background-color: $gray;
	@include media-breakpoint-up(xs) {
		& {
			margin-top: 74px;
		}
	}
	@include media-breakpoint-down(xs) {
		& {
			margin-top: 60px;
		}
	}
	.icon-notice {
		width: 28px;
		height: 28px;
		background-image: url('../images/icon-notice.png');
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 20px;
		margin-top: 2.5px;
	}
	.marquee {
		@include fz(14);
		padding-top: 6px;
		.marquee-text {}
	}
}

.img-ad {
	background-color: #C20E19;
	.bg-ad-box {
		position: relative;
		.bg-word {
			display: block;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

.hot-game {
	background-color: #ECEFF2;
	.icon-game {
		width: 21px;
	}
	.hot-game-title {
		font-weight: 900;
	}
}

.game-list {
	background-color: #fff;
	.gamelist-border {
		border-color: #ECEFF2 !important;
		a {
			text-decoration: none;
			@include media-breakpoint-up(xs) {
				.img-responsive {
					height: 4.5rem;
				}
			}
			@include media-breakpoint-down(xs) {
				.img-responsive {
					height: 3.5rem;
				}
			}
		}
	}
	.game-list-title {
		color: rgb(64, 67, 73);
		font-weight: 900;
	}
}

.carousel-box {
	.carousel-indicators {
		justify-content: flex-end;
		li {
			width: 12px;
			height: 12px;
			border-radius: 50%;
			cursor: pointer;
		}
	}
}

.service-box {
	background-color: #fff;
	border-top: 1px solid #dedede;
	.service-list {
		text-decoration: none;
		color: #5e5e5e;
		flex-grow: 1;
		img {
			width: 30px;
		}
		.title {
			@include fz(12);
		}
	}
}

.copy-right {
	color: #5e5e5e;
	@include fz(14);
	img {
		width: 28px;
	}
	a {
		text-decoration: none;
		color: #5e5e5e;
	}
}