@import '_reset';
@import '_mixin';
@import '_center';
@import '_payment';
@import '_user-info';
@import '_modify-password';
@import '_bets-history';
@import '_notice';
@import '_bank';
@import '_lottery-history';
@import '_profit';
@import '_game-records';
/*=====================================*/

.col-44 {
	width: calc(100% / 3);
	flex: 0 0 (100% / 3);
}
.text-black {
	color: #000;
}

.text-gray {
	color: lighten(#000, 85%);
}
.text-gold {
	color: #F8E239;
}
.text-tomato {
	color: #EF6B73;
}
.text-blue{
    color:$blue9;
}
.text-red{
    color:$red9;
}
.btn{
    cursor: pointer;
    &:focus{
        box-shadow: 0px 0px 0px transparent !important;
    }
}
.btn-blue{
    background-color: $blue9;
}
.w-60{
    width: 60%;
}
.w-80{
    width: 80%;
}
.w-90{
    width: 90%;
}
.relative{
    position: relative;
}
.fz-1{
    font-size: 1rem * 0.25 !important;
}
.fz-2{
    font-size: 1rem * 0.5 !important;
}
.fz-3{
    font-size: 1rem !important;
}
.fz-425{
    font-size: 1rem * 1.25 !important;
}
.fz-4{
    font-size: 1rem * 1.5 !important;
}
.fz-5{
    font-size: 1rem * 3 !important;
}
.fa{
    vertical-align: middle;
}
@keyframes superScaleIn {
    from {
        transform: translate(-50%, -50%) scale(1.2);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

@keyframes superScaleOut {
    from {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    to {
        transform: translate(-50%, -50%) scale(0.8);
        opacity: 0;
    }
}

* {
	padding: 0;
	margin: 0;
}
html{
	@include media-breakpoint-up(xs){
		font-size: 16px;
	}
	@include media-breakpoint-down(xs){
		font-size: 14px;
	}
}
html,
body {
	font-family: "微软雅黑", "Microsoft YaHei", Tahoma, HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bg-user {
	background-color: #757576;
	color: #fff;
	a {
		color: #fff;
	}
}

.navbar-brand {
	@include media-breakpoint-up(xs) {
		img {
			height: 3rem;
		}
	}
	@include media-breakpoint-down(xs) {
		img {
			height: 2rem;
		}
	}
}

.navbar-box {
	&.navbar-collapse {
		flex-basis: 0;
	}
}

.notice {
	background-color: $gray;
	@include media-breakpoint-up(xs) {
		& {
			margin-top: 74px;
		}
	}
	@include media-breakpoint-down(xs) {
		& {
			margin-top: 60px;
		}
	}
	.icon-notice {
		width: 28px;
		height: 28px;
		background-image: url('../images/icon-notice.png');
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 20px;
	}
}

.img-ad {
	background-color: #C20E19;
	.bg-ad-box {
		position: relative;
		.bg-word {
			display: block;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

.hot-game {
	background-color: #ECEFF2;
	.icon-game {
		width: 21px;
	}
	.hot-game-title {
		font-weight: 900;
		img,span{
			vertical-align: middle;
		}
	}
}
.news-wrap{
	.fa{
		color:#D70002;
	}
	span{
		font-weight: 900;
	}
	.more{
		padding: .4rem 1.25rem;
		color:#fff;
		background-color: #D70002;
		border-radius: 8px;
	}
	.news-title{
		border:1px solid #ddd;
		border-bottom:2px solid #D70002;
		border-radius: 8px 8px 0 0;
		background-color: #fff;
	}
	.news-content{
		border:1px solid #ddd;
		border-radius: 0px 0px 8px 8px;
		background-color: #fff;
		a{
			color:#003366;
			text-decoration: none;
			font-size: .8rem;
			position: relative;
			&:before{
				content:'';
				width: 6px;
				height: 6px;
				background-color: #ccc;
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
}
.game-list {
	background-color: #fff;
	.gamelist-border {
		border:1px solid rgb(226, 226, 226);
		border-right:none;
		border-bottom:none;
		&:nth-last-child(1){
			border-bottom:1px solid rgb(226, 226, 226);
		}
		&:nth-last-child(2){
			border-bottom:1px solid rgb(226, 226, 226);
		}
		&:nth-last-child(3){
			border-bottom:1px solid rgb(226, 226, 226);
		}
		&:nth-child(3n+1){
			border-left:none;
		}
		a {
			text-decoration: none;
			@include media-breakpoint-up(xs) {
				.img-responsive {
					height: 4.5rem;
				}
			}
			@include media-breakpoint-down(xs) {
				.img-responsive {
					height: 3.5rem;
				}
			}
		}
	}
	.game-list-title {
		color: rgb(64, 67, 73);
		font-weight: 900;
	}
}

.carousel-box {
	.carousel-indicators {
		justify-content: flex-end;
		li {
			width: 12px;
			height: 12px;
			border-radius: 50%;
			cursor: pointer;
		}
	}
}

.service-box {
	background-color: #fff;
	border-top: 1px solid #dedede;
	.service-list {
		text-decoration: none;
		color: #5e5e5e;
		flex-grow: 1;
		img {
			width: 30px;
		}
		.title {
			@include fz(12);
		}
	}
}

.copy-right {
	color: #5e5e5e;
	@include fz(14);
	img {
		width: 28px;
	}
	a {
		text-decoration: none;
		color: #5e5e5e;
	}
}